<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible"
  content="IE=EmulateIE7; IE=EmulateIE9">
<title>pinglinhtinh</title>
<link rel="stylesheet" href="/public/styles/core.css">

{% block top_scripts %}
<script type="text/javascript" src="/public/scripts/dygraph-dev.js"></script>
{% endblock %}
</head>
<body>
  <header>
  {% block header %}
    <div id='logo'><a href='/'><img src='/public/images/pin.png'/>pinglinhtinh</a></div>
            
    <div id='datetime-selector' class='hidden'>
      <a href='#' id='back'>Back</a> | 
      <b>From</b>
      <input type="datetime-local" step=3600 name="from" />
      <b>To</b>
      <input type="datetime-local" step=3600 name="to" />
    </div>
    <div id='options'>
            <select id='offset'>
              <option value='900' {% if offset == 900 %}selected{% endif %}>Last 15 minutes</option>
              <option value='7200' {% if offset == 7200 %}selected{% endif %}>Last 2 hours</option>
              <option value='86400' {% if offset == 86400 %}selected{% endif %}>Last day</option>
              <option value='604800' {% if offset == 604800 %}selected{% endif %}>Last week</option>
              <option value='31536000' {% if offset == 31536000 %}selected{% endif %}>Last year</option>
              <option value='datetime-selector'>from...to...</option>
            </select>   
    
            <b>Show Series:</b> 
            <input type=checkbox id="0" checked onClick="change(this)"> 
            <label for="0">Connect</label>
            
            <input type=checkbox id="1" checked onClick="change(this)">
            <label for="1">TTFB</label>
            
            <input type=checkbox id="2" checked onClick="change(this)">
            <label for="2">Total</label>
            
<!--             <input type=checkbox id="skip" checked> -->
<!--             <b>Skip larger than 100ms</b> -->
     </div>
     <div id='preferences'><a href='/preferences'><i class='preferences-icon'></i>Preferences</a></div>
   {% endblock %}
  </header>
<div id='main'>
{% block main %}
  <ul>
  {% for domain in domains %}
    <li class='domain' id="{{ domain | md5sum }}">
        <a href='#{{ domain | md5sum }}' class='title'>{{ domain }}</a>{% if domains|length != 1 %} - <a href='/?domain={{ domain }}'>See more...</a>{% endif %}
        <ul class='more'>
        {% for info in urls %}
          {% if domain in info.url %}
            <li>
              {% if info.hostname %}
              <h4 class='graph-name'><a href='/?url={{ info.url }}'>{{ info.url }} ({{ info.hostname }})</a></h4>
              {% else %}
              <h4 class='graph-name'><a href='/?url={{ info.url }}'>{{ info.url }}</a></h4>
              {% endif %}
              <div id="i-{{ info.url | md5sum }}" class='info'></div> 
              <div id="g_{{ info.url | md5sum }}"></div>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
</div>

{% block scripts %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
{% for info in urls %}
        <script type="text/javascript" src="/data.js?url={{ info.url }}&offset={{ offset }}&skip={{ skip }}+"></script>
        <script type="text/javascript">
        var dataset_{{ info.url | md5sum }};
        
        function update_{{ info.url | md5sum }}() {
            $.ajax({
                url: '/data.js?url={{ info.url }}&skip={{ skip }}+',
                dataType: 'script',
                success: function(new_data) {     
                    var new_data = eval(new_data);
                    
                    dataset_{{ info.url | md5sum }} = dataset_{{ info.url | md5sum }}.concat(new_data);
                                        
                    g_{{ info.url | md5sum }}.updateOptions( { 'file': dataset_{{ info.url | md5sum }} } );
                }
            });
        }
        
        function show_{{ info.url | md5sum }}() {            
            if (!dataset_{{ info.url | md5sum }}) {
        	     console.log('wait...');
        	     setTimeout(show_{{ info.url | md5sum }}, 500);
        	     return;
            }
            
             setInterval("update_{{ info.url | md5sum }}()", 10000);

            
            g_{{ info.url | md5sum }} = new Dygraph(
                document.getElementById("g_{{ info.url | md5sum }}"),
                dataset_{{ info.url | md5sum }}, {
                    gridLineColor: '#ccc',
                    visibility: [true, true, true],
                    colors: ['#ff8c00', '#4682b4', '#9acd32', '#dc143c', '#9932cc'],
                    width: 800,
                    height: 200,
                    titleHeight: 20,
                    axisLabelFontSize: 11,
                    highlightCircleSize: 3,
                    showRangeSelector: true,
                    rangeSelectorHeight: 20,
                    labelsKMG2: true,
                    includeZero: true,
                    logscale: false,
                    hideOverlayOnMouseOut: true,
                    labelsSeparateLines: '-',
                    labelsDivStyles: {
                        'backgroundColor': 'transparent',
                        'text-align': 'right',
                        'font-size': '11px',
                        'top': '5px !important',
                        'right': '10px !important',
                        'left': 'auto !important',
                    },
                    labels: ["Date", "Connect", "TTFB", "Total"],
                    ylabel: 'miliseconds',
                    yLabelWidth: 13,
                    strokeWidth: 1.0,
                  }
              );
       
        }

        
        </script>
{% endfor %}
        
<script>
function change(el) {
    {% for info in urls %}
      g_{{ info.url | md5sum }}.setVisibility(parseInt(el.id), el.checked);
    {% endfor %}
};
 
 jQuery.redirect = function(url, params) {

     url = url || window.location.href || '';
     url =  url.match(/\?/) ? url : url + '?';

     for ( var key in params ) {
         var re = RegExp( ';?' + key + '=?[^&;]*', 'g' );
         url = url.replace( re, '');
         url += '&' + key + '=' + params[key]; 
     }  
     // cleanup url 
     url = url.replace(/[;&]$/, '');
     url = url.replace(/\?[;&]/, '?'); 
     url = url.replace(/[;&]{2}/g, '&');
     // $(location).attr('href', url);
     window.location.replace( url ); 
 };
 
 function isNumber(n) {
     return !isNaN(parseFloat(n)) && isFinite(n);
   } 
 
$(document).ready(function() {    
    {% for info in urls %}
      show_{{ info.url | md5sum }}();
    {% endfor %}
    
    $("#offset").change(function() {
	     var v = $(this).val();
	     if (isNumber(v)) {
		       $.redirect( location.href, { offset : v });
	     } else {
		      var id = '#' + v;
		      $('#options').hide();
		      $(id).show();
		  
	     }
	     return false;
    });
    
    $('#back').live('click', function() {
       $('#options').show();
       $('#datetime-selector').hide();
	     return false;
    })
})
</script>

{% endblock %}
</body>
</html>
